@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    /* text-decoration: none para retirar o sublinhado dos links */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #050a1a;
    height: 2000px;
    font-family: "Poppins";
}

/* NavBar  */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a152f;
    padding: 0px 15px;
    height: 60px;
    position: sticky;
    border-radius: 15px;
    border: 1px solid #0f1b33;
    flex-direction: row;

    /* Adicionei um margin para aparecer o arredondamento das bordas */
    margin: 5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.ajuste-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* aliceblue foi a cor que utilizei no lugar do branco */
header a {
    color: aliceblue;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.item-menu:hover {
    background-color: aliceblue;
    border-radius: 10px;
}

.item-menu:hover a {
    color: #0a152f;
}

.item-menu {
    list-style: none;
    font-size: 18px;
     padding: 5px 10px;
    border: 2px solid transparent;
}

/* Header  */
h2 {
    text-align: center;
    color: #d3e0f1;
    margin-bottom: 16px;
    font-size: 1.5rem;
}

/* Utilizei uma margin para poder centralizar o section */
.main section {
    text-align: justify;
    background-color: #e0e6f0;
    padding: 20px;
    border: 3px solid #0f1b33;
    margin: 10px 25%;
    border-radius: 15px;
}

section p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 150%;
}

section a {
    background-color: #141E61;
    color: #cdd1da;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 6px;
}

section a:hover {
    background-color: #0a152f;
    color: #1e90ff;
}

/* Footer */

footer {
    padding: 20px;
    text-align: center;
    color: aliceblue;
    background-color: #0f1b33;
    border-radius: 15px;
    margin: 5px;
}

/* Pagina de Contato */

/* Aqui eu utilizei o resize para aumentar o textarea caso necessario */
input,
textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(24, 19, 56);
    border-radius: 4px;
    resize: vertical;
}

/* Aqui utilizei o inline-block para os elementos ficarem um embaixo do outro */
label {
    font-size: 16px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    width: 20%;
    background-color: rgb(24, 19, 56);
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px;
    font-size: 16px;
}

img {
  width: 30px;
}

/* Pagina Sobre Mim */
.minha-historia h3 {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

.minha-historia p {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.minhas-habilidades h3{
    text-align: center;
}

ul {
    margin: 5px;
}

li {
    list-style: disc;
}