* {
    text-decoration: none;
    font-family: monospace;
}

body {
    background-color: rgb(171, 202, 230);
}

/* NavBar  */

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(24, 19, 56);
    padding: 0px 15px;
    width: auto 30px;
    border-radius: 15px;
}

h1 a {
    color: aliceblue;
}

li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;

}

li a {
    color: aliceblue;
    margin-right: 25px;
    font-size: 18px;
}

/* Header  */

h2 {
    text-align: center;
}

section {
    background-color: aliceblue;
    text-align: center;
    padding: 70px 25px;
    border: 3px solid rgb(24, 19, 56);
    margin: 10px 25%;
    border-radius: 15px;
}

section p {
    font-size: 16px;

}

section button {
    background-color: rgb(24, 19, 56);
    border-radius: 5px;
    padding: 5px;
}

section a {
    color: aliceblue;
}

/* Footer */

footer {
    text-align: center;
    color: aliceblue;
    background-color: rgb(24, 19, 56);
    border-radius: 15px;
}

/* Pagina de Contato */
input, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid rgb(24, 19, 56);
    border-radius: 4px;
    resize: vertical;
}
label {
    font-size: 16px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    width: 20%;
    background-color: rgb(24, 19, 56);
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px;
    font-size: 16px;
}